* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}

:root {
  font:13pt / 1.5 sans-serif;
}

body {
  padding:16px;
  margin-inline:auto;
  max-width:700px;
  min-height:100vh;
}

h1, h2, h3 {
  margin-top:16px;
  font-weight:normal;
}

p {
  margin-block:8px;
}